* {
    font-family: "PF Centro Sans Pro";
    color: #faac6d;
}

body{
    margin: 0px;
    color: white;
}

li {
    list-style-type: none;
    width: 100%;
    height: 100%;

}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #422e58;
    width: 100%;
    height: 100%;
    font-size: 1.1em;

}

h2{
    z-index: 1;
    margin: 0;
}
h1{
    font-size: 4em;
    margin: 0;
    align-self: center;


}



.container{
    display: flex;
    flex-direction: column;
    height:390vh;
    background-color: #040d3a;

}.header {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #422e58;
    padding: 0;
    margin-top: 70px;
    width: 100%;
    height: 4.5%;
 }

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 7%;
    background-color: #faac6d;
    position: fixed;
    z-index: 2;
    align-items: center;
}

.menu ul{
    margin: 0;
    padding: 0;
}
.menu nav{
   font-size: 1.5em;
}
li:hover {
    background-color: #fa9a49;
}



.valorant{
    display: flex;
    background: url("img/valorant-cover.jpg");
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: cover; /* Растягиваем  фон по высоте и ширине */
    background-position: center; /* Позиция фона по центру */
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    position: relative;
}


.overlay-cover{
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.describe {
    display: flex;
    width: 100%;
    background-color: #7b5a94;
    font-size: 1.6em;
}


.anime {
    background: url("img/anime-cover.jpg");
    display: flex;
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: cover; /* Растягиваем  фон по высоте и ширине */
    background-position: center;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    position: relative;
}


.break {
    background-color: #e3e3e3;
    height: 35px;
}

.about {
    background: url("img/about-img.jpg");
    display: flex;
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: cover; /* Растягиваем  фон по высоте и ширине */
    background-position: center;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    position: relative;
    text-align: center;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: rgba(82,42, 114, 0.95);

}

.footer p{
    display: flex;
    margin: 0;
    color: #acacac;

    height:100%;
    align-items: center;
    justify-content: center;
}



